[submodule "reference/jbig2enc"]
	path = reference/jbig2enc
	url = https://github.com/agl/jbig2enc.git
[submodule "reference/leptonica-rs"]
	path = reference/leptonica-rs
	url = https://github.com/tagawa0525/leptonica-rs.git
